<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/main.css" rel="stylesheet" />
    <title>Users Index</title>
  </head>

  <body>
    <!-- <h1>Users</h1>
    <ul>
      <% for(let u of users) {%>
      <li>
        <%=u.name%> - <b><%=u.username%></b>
        <a href="/comments/<%= u.id %>">View Blog Post</a>
      </li>
      <% }%>
    </ul>
    <a href="/comments/new">New Comment</a> -->

    <!-- ////////TAILWIND -->
    <div class="container px-4 mx-auto sm:px-6 lg:px-8">
      <div class="px-4 mb-4 sm:px-6 lg:px-8">
        <div class="mt-4 sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-xl font-semibold text-gray-900">Users</h1>
            <p class="mt-2 text-sm text-gray-700">
              A list of all the users and their related post.
            </p>
          </div>
        </div>
        <div
          class="mt-8 -mx-4 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                >
                  Name
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  User ID
                </th>
                <th
                  scope="col"
                  class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell"
                >
                  Email
                </th>

                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-200">
              <% for(let u of users) {%>
              <tr>
                <td
                  class="w-3/4 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 max-w-0 sm:w-auto sm:max-w-none sm:pl-6"
                >
                  <%=u.name%>
                  <dl class="font-normal lg:hidden">
                    <dt class="sr-only">Title</dt>
                    <dt class="sr-only sm:hidden"><%=u.email%></dt>
                    <td class="px-3 py-4 text-sm text-gray-500"><%=u.id%></td>
                  </dl>
                </td>
                <td
                  class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"
                >
                  <%=u.email%>
                </td>

                <td
                  class="py-4 pl-3 pr-4 text-sm text-center font-small sm:pr-6"
                >
                  <a
                    href="/users/<%= u.id %>/posts"
                    class="p-2 rounded-md whitespace-nowrap text-slate-100 hover:text-slate-900 bg-rose-500"
                    >View User's Post
                  </a>
                </td>
              </tr>
              <% }%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
